<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.time_select :duration %>
  </div>
  <div class="field">
    <%= f.label :release_date , order: [:day, :month, :year],include_blank: true %><br>
    <%= f.date_select :release_date %>
  </div>


  <%= f.hidden_field :cinema_id,:value => params[:cinema_id] %>

  <%= f.hidden_field :review_id,:value => params[:review_id] %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
