<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br>
    <%= f.date_select :day , order: [:day, :month],include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :show %><br>
    <%= f.select :show,["10:00AM","1:00PM","4:00PM","7:00PM"], include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.collection_select :cinema_id, Cinema.all,:id,:seat_type %>
  </div>

  
  <div class="field">
    <%= f.label :number_of_seats %><br>
    <%= f.select :number_of_seats,(1..10),include_blank:true %>
  </div>

  <div class="field">
    <%= f.label :t_c %><br>
    <%= f.check_box :t_c %>
  </div>

  <%= f.hidden_field :cinema_id,:value => params[:cinema_id] %>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
