<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br>
    <%= f.date_select :day %>
  </div>
  <div class="field">
    <%= f.label :show %><br>
    <%= f.time_select :show %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :number_of_seats %><br>
    <%= f.number_field :number_of_seats %>
  </div>
  <div class="field">
    <%= f.label :t_c %><br>
    <%= f.check_box :t_c %>
  </div>
  <div class="field">
    <%= f.label :cinema_id %><br>
    <%= f.number_field :cinema_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
