<p id="notice"><%= notice %></p>

<p>
  <strong>Screen name:</strong>
  <%= @cinema.screen_name %>
</p>

<p>
  <strong>Seat name:</strong>
  <%= @cinema.seat_name %>
</p>

<p>
  <strong>Seat type:</strong>
  <%= @cinema.seat_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cinema.price %>
</p>

<%= link_to 'Edit', edit_cinema_path(@cinema) %> |
<%= link_to 'Back', cinemas_path %>
